
    body {
      font-family: Arial, sans-serif;
      margin-left: 40%;
      background-color:rgba(97, 163, 164, 0.639);
    }
    img {
        width: 200px;
    }

    #cart {
      border: 1px solid #141313;
      padding: 10px;
      margin-left: -15%;
      max-width: 500px;
      background-color: rgb(170, 170, 120);
    }

    #cart ul {
      list-style: none;
      padding: 0;
    }

    #cart li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    #cartTotal {
      margin-top: 10px;
      font-weight: bold;
    }

    .product {
      margin-bottom: 20px;
    }

    .quantity {
      display: flex;
      align-items: center;
    }

    .quantity button {
      margin: 0 5px;
      cursor: pointer;
    }

    .delete-button {
      color: red;
      cursor: pointer;
      margin-left: 10px;
    }

    .heart-button {
      cursor: pointer;
      margin-left: 10px;
    }

    .heart-button::before {
      content: "\2665"; /* Unicode heart character */
      color: gray;
    }

    .heart-button.clicked::before {
      color: red;
    }
  